<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<location>

		<system.web>
			<securityPolicy>
				<trustLevel name="Full" policyFile="internal" />
				<trustLevel name="High" policyFile="web_hightrust.config" />
				<trustLevel name="Medium" policyFile="web_mediumtrust.config" />
				<trustLevel name="Low" policyFile="web_lowtrust.config" />
				<trustLevel name="Minimal" policyFile="web_minimaltrust.config"/>
			</securityPolicy>
			<trust
			   level="Full"
			   originUrl=""
			   processRequestInApplicationTrust="true"
   />
		</system.web>

	</location>
</configuration>